{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
	<div class="container mt-header">
		<aside class="modal fade" id="RegModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="RegModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content px-4 cake__modal">
					<div class="modal-header border-0 pb-0 pt-4">
						<button @click="Reset" type="button" class="btn-close border rounded-pill" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
				</div>
			</div>
		</aside>
		<section id="catalog">
			<article class="row pt-header d-flex justify-content-center" id="step2">
				<h2 class="font_Gogh fs_40 cake_blue text-center mb-3">Все букеты</h2>
					<div class="container">
						{% for page_column in page_columns %}
							<div class="row">
								{% for item in page_column %}
									<div class="col">
										<div class="card" style="width: 100%;height: 400px">
											<div class="row no-gutters">
												<div class="col-md-4">
													<img src="../media/{{ item.image|urlencode }}"  class="card-img" alt="фото букета {{ item.name }}">
												</div>
												<div class="col-md-8">
													<div class="card-body">
														<h5 class="card-title">{{ item.name }}</h5>
														<p class="card-text">{{ item.price }}</p>
														<p><span class="badge badge-light">{{ item.description }}</span></p>
														<p class="card-text"><a href="{{ cake_card.id }}" target="_blank">Заказать</a></p>
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
			</article>
		</section>
	</div>
</main>
{% endblock %}